body {
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background-color:#d4e3c9;
    color:#333;
 }
 p {
    font-size:large;
    color:#384f65;
    font-weight:550;
 }
 a {
    color:#00a6ff;
    text-decoration:none;
    font-weight:750;
 }
 a:visited {
    color:none;
 }
 a:hover {
    color:#95daff;
 }
 .container {
    width:80%;
    margin:0 5%;
 }
 header {
    background-color:#377a77;
    color:#fff;
    padding:10px 0;
    border:6px solid #274e4b;
    text-align:center;
 }
 .logo-container {
    display:flex;
    align-items:center;
 }
 .logo-container h1 {
    margin:0;
    font-size:24px;
 }
 .logo-container img {
    width:100px;
    height:100px;
    margin-right:10px;
    border-radius:100%;
 }
 .logo-containerdimg {
    background-color:black;
 }
 nav ul {
    list-style-type:none;
    padding:0;
    margin-left:auto;
 }
 nav ul li {
    display:inline;
    padding:10px;
    font-size:large;
 }
 nav ul li a {
        color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px 10px;
    border-radius: 6px;
 }
 nav ul li a:hover {
     opacity:0.8;
    color:#377a77;
    background-color: #fff;
 }
 section {
    padding:50px 0;
 }
 .project-grid {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    grid-gap:20px;
 }
 .project-item img {
    width:100%;
    height:70%;
    border-radius:6px;
    display:block;
 }
 .project-item h3 {
    margin-top:10px;
 }
 .project-item {
    border:4px solid #274e4b;
    border-radius:6px;
    padding:10px;
    background-color:#f2f7ed;
    text-align:center;
 }
 .project-item h3 {
    margin-top:10px;
    text-align:center;
 }
 .project-item a {
    color:#333;
    text-decoration:none;
 }
 .project-item a:hover {
    opacity:0.8;
 }
 form input,form textarea {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    background-color:#fff;
 }
 form button {
    background-color:#2ecc71;
    color:#fff;
    border:none;
    border-radius:6px;
    padding:10px 20px;
    cursor:pointer;
 }
 form button:hover {
    opacity:0.8;
 }

.social-links {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:6px;
    padding:15px;
    flex-wrap:wrap;
}
.social-links-container {
    max-width:100%;
    margin:0 auto;
    overflow:hidden;
}

    .social-links img {
        margin: 5px;
        height: 56px;
        width: 56px;
        max-width: 100%;
    }

    .social-links img:hover {
      box-shadow: 0 0 80px #e5eedd;
      border-radius: 8px;
    }



 dfndl {
    font-size:10px;
    margin-top:60px;
    margin-left:-210px;
 }
 .bordered {
   border-left: 6px solid #274e4b; 
   border-right: 6px solid #274e4b; 
}
 footer {
    background-color:#377a77;
    color:#fff;
    padding:15px 0;
    border: 6px solid #274e4b;
    text-align:center;
 }
 .search-bar {
    display:flex;
    align-items:center;
    width:100%;
    max-width:400px;
    margin:0 auto;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    background-color:#fff;
    margin-bottom:20px;
 }
 .search-bar input[type="text"] {
    flex:1;
    padding:10px;
    border:none;
    outline:none;
 }
 .search-bar-Sbutton {
    padding:10px;
    border:none;
    border-radius:6px;
    background-color:#2c3e50;
    color:#fff;
    cursor:pointer;
    margin-left:10px;
 }
 .search-bar-Sbutton:hover {
    opacity:0.8;
 }
 #clearButton {
    cursor:pointer;
    font-size:20px;
    color:#ccc;
    margin-right:5px;
 }
 #clearButton:hover {
    color:#333;
 }
 .section {
   transition: background-color 0.5s ease;
}
.selected-main {
   background-color: #e5eedd;
}
.selected-footer {
   background-color: #4d8583;
}
