body {
   font-family:Arial,sans-serif;
   margin:0;
   padding:0;
   background-color:#d4e3c9;
   color:#333;
}

/*For Paragraphs Text*/

textp {
   font-size:large;
   color:#384f65;
   font-weight:550;
}


/*
 - No UnderLine under Link Text
 - No Visited Color
*/

section a,
.CopyRightBox a {
   color: #0097e8;
   text-decoration: none;
   font-weight: 750;
}

section a:visited,
.CopyRightBox a:visited {
   color: none;
}

section a:hover,
.CopyRightBox a:hover {
   color: #95daff;
   box-shadow: 0 0 100px #48bfff;
}

/* Header*/

header {
   background-color:#377a77;
   color:#fff;
   padding:10px 0;
   border:6px solid #274e4b;
   text-align:center;
}
dfndl {
   font-size:10px;
   margin-top:60px;
   margin-left:-210px;
}
.container {
   width:80%;
   margin:0 5%;
}
.logo-container {
   display:flex;
   align-items:center;
}
.logo-container h1 {
   margin:0;
   font-size:24px;
}
.logo-container img {
   width:100px;
   height:100px;
   margin-right:10px;
   border-radius:100%;
}
.logo-container a {
   border-radius:100%;
}
nav ul {
   list-style-type:none;
   padding:0;
   margin-left:auto;
}
/* Media query for desktop/laptop */
@media only screen and (min-width:768px) {
   nav ul li {
   display:inline;
   padding:10px;
   font-size:large;
}
}
/* Media query for Android devices */
@media only screen and (max-width:767px) {
   /* Assuming Android devices typically have smaller screens */
  /* You can adjust this breakpoint based on your specific needs */
  nav ul li {
   display:inline;
   padding:10px;
   font-size:large;
}
}
nav ul li a {
   color:#fff;
   text-decoration:none;
   text-align:center;
   padding:15px 10px;
   font-weight: 750;
   border-radius:6px;
}
nav ul li a:hover {
   opacity:0.8;
   color:#377a77;
   background-color:#fff;
   box-shadow:0 0 80px #e5eedd;
}


/* Main Body */

.bordered {
   border-left:6px solid #274e4b;
   border-right:6px solid #274e4b;
}

/* Section Click Transition */

.section {
   transition:background-color 0.5s ease;
}
.selected-main {
   background-color:#e5eedd;
}
.selected-footer {
   background-color:#4d8583;
}
section {
   padding:50px 0;
}

/* Project  Section */
.project-grid {
   display:grid;
   grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
   grid-gap:20px;
   justify-content: space-between;
}
.project-item img {
   width:100%;
   height:70%;
   border-radius:6px;
   display:block;
}
.project-item h3 {
   margin-top:10px;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: whitesmoke;
   background-color: rgba(0, 0, 0, 0.6);
}
.project-item {
   border:5px solid #274e4b;
   border-radius:6px;
   padding:10px;
   position: relative;
   flex: 0 0 48%;
   background-color:#f2f7ed;
   text-align:center;
}
.project-item h3 {
   margin-top:10px;
   text-align:center;
}
.project-item h3:hover {
   opacity:0.8;
}
.project-item a {
   color:#333;
   text-decoration:none;
}
.project-item a:hover {
   opacity:0.8;
}


/* Contact Us */
form input,form textarea {
   width:100%;
   margin-bottom:10px;
   padding:10px;
   border:1px solid #ccc;
   border-radius:6px;
   background-color:#fff;
}
form button {
   background-color:#2ecc71;
   color:#fff;
   border:none;
   border-radius:6px;
   padding:10px 20px;
   cursor:pointer;
}
form button:hover {
   opacity:0.8;
}

/* Footer */

footer {
   background-color:#377a77;
   color:#fff;
   padding:15px 0;
   border:6px solid #274e4b;
   text-align:center;
}
.social-links {
   display:flex;
   justify-content:center;
   align-items:center;
   border-radius:6px;
   padding:15px;
   flex-wrap:wrap;
}
.social-links-container {
   max-width:100%;
   margin:0 auto;
   overflow:hidden;
}
.social-links img {
   margin:5px;
   height:56px;
   width:56px;
   max-width:100%;
}
.social-links img:hover {
   box-shadow:0 0 80px #e5eedd;
   border-radius:14px;
}

/* Project Page */

/* Search Bar */
.search-bar {
   display:flex;
   align-items:center;
   width:100%;
   max-width:400px;
   margin:0 auto;
   padding:10px;
   border-radius:8px;
   border:1px solid #ccc;
   background-color:#fff;
   margin-bottom:20px;
}
.search-bar input[type="text"] {
   flex:1;
   padding:10px;
   border:none;
   outline:none;
}
.search-bar-Sbutton {
   padding:10px;
   border:none;
   border-radius:6px;
   background-color:#2c3e50;
   color:#fff;
   cursor:pointer;
   margin-left:10px;
}
.search-bar-Sbutton:hover {
   opacity:0.8;
}
#clearButton {
   cursor:pointer;
   font-size:20px;
   color:#ccc;
   margin-right:5px;
}
#clearButton:hover {
   color:#333;
}
