
        body {
        font-family:Arial,sans-serif;
        background-color:#d4e3c9;
        color:#fff;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
    }
    .kkk a {
        text-decoration:none;
        display:inline-block;
        padding:8px 16px;
    }
    .kkk a:hover {
        background-color: #e0edd8;
        color:white;
    }
    .previous {
        border:3px solid #274e4b;
        border-radius:6px;
        background-color:#d4e3c9;
        color:black;
        font-weight:800;
    }
    .container {
        border:6px solid #274e4b;
        width:70%;
        padding:20px;
        background-color:#377a77;
        border-radius:8px;
        box-shadow:0 0 10px rgba(255,255,255,0.1);
        margin: auto auto;
    }
    h1,p {
        color:#fff;
    }
    footer {
        background-color:#000;
        color:#fff;
        padding:15px 0;
        border-top:2px solid #fff;
        width:100%;
        text-align:center;
    }
    .social-links {
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:6px;
        padding:15px;
        flex-wrap:wrap;
    }
    .social-links img {
        margin:5px;
        height:56px;
        width:56px;
        max-width:100%;
    }
    .social-links img:hover {
        box-shadow:0 0 80px #e5eedd;
        border-radius:14px;
    }
    form .label {
        color:white;
        font-weight:bold;
        margin-bottom:5px;
    }
    form input,form textarea,form select {
        width:100%;
        margin-bottom:10px;
        padding:10px;
        border:1px solid #ccc;
        border-radius:6px;
        background-color:#fff;
    }
    form button {
        background-color:#2ecc71;
        color:#fff;
        border:none;
        font-weight:bold;
        font-size:medium;
        border-radius:6px;
        padding:10px 20px;
        cursor:pointer;
    }
    form button:hover {
        opacity:0.8;
    }
    .logo-position img {
        margin-left:10px;
        width:110px;
        height:110px;
        margin-right:10px;
        border-radius:100%;
    }
    .CopyRightBox a{
        color: #95daff;
       text-decoration: none;
       font-weight: 750;
    }
    
    .CopyRightBox a:visited {
       color: none;
    }
    
    .CopyRightBox a:hover {
       color: #0097e8;
       box-shadow: 0 0 100px #48bfff;
    }
