body {
   font-family:Arial,sans-serif;
   margin:0;
   padding:0;
   background-color:#d4e3c9;
   color:#333;
}
/* CSS to change Commento textarea placeholder position */
#commento-textarea-root::placeholder {
   
    position: relative;
    /* Adjust the positioning as needed */
    top: -35px; /* Example adjustment, you can adjust as needed */
    left: 0px;
}

#commento-textarea-root{
   
   min-height: 50px;
    width: 100%;
    height: 10px;
}

.commento-root textarea{
   min-height: 50px;
   height: 3em;
   width: 100%;
}


/* Change the color of text to white */
.commento-body p,
.commento-markdown-button,
.commento-name,
.commento-score,
.commento-timeago,
.commento-body,
.commento-profile-button,
.commento-sort-policy-button{
    color: white !important;
}
 .commento-logo-text {
  color: black !important;
 }

/*For Paragraphs Text*/

textp {
   font-size:large;
   color:#d4e3c9;
   font-weight:550;
}

/*
 - No UnderLine under Link Text
 - No Visited Color
*/

section a,
.CopyRightBox a,
.donate-button {
   color: #48bfff ;
   text-decoration: none;
   font-weight: 750;
}

section a:visited,
.CopyRightBox a:visited,
.donate-button a:visited {
   color: none;
}

section a:hover,
.CopyRightBox a:hover,
.donate-button a:hover{
   color: #95daff;
   box-shadow: 0 0 100px #0097e8;
}

/* Main Body */

.bordered {
   border-left:6px solid #274e4b;
   border-right:6px solid #274e4b;
}

/* Section Click Transition */

.section {
   transition:background-color 0.5s ease;
}
.selected-main
 {
   background-color:#578482;
}
.selected-footer {
   background-color:#4d8583;
}

/* Project  Section */
.project-grid {
   margin-top: 20px;
   display:grid;
   grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
   grid-gap:20px;
   justify-content: space-between;
}
.project-item img {
   width:100%;
   height:70%;
   border-radius:6px;
   display:block;
}
.project-item h3 {
   margin-top:10px;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: whitesmoke;
   background-color: rgba(0, 0, 0, 0.6);
}
.project-item {
   border:5px solid #274e4b;
   border-radius:6px;
   padding:10px;
   position: relative;
   flex: 0 0 48%;
   background-color:#f2f7ed;
   text-align:center;
}
.project-item h3 {
   margin-top:10px;
   text-align:center;
}
.project-item h3:hover {
   opacity:0.8;
}
.project-item a {
   color:#333;
   text-decoration:none;
}
.project-item a:hover {
   opacity:0.8;
}

/* Project Page */

/* Search Bar */
.search-bar {
   display:flex;
   align-items:center;
   width:100%;
   max-width:400px;
   margin:0 auto;
   padding:10px;
   border-radius:8px;
   border:1px solid #ccc;
   background-color:#fff;
   margin-bottom:20px;
}
.search-bar input[type="text"] {
   flex:1;
   padding:10px;
   border:none;
   outline:none;
}
.search-bar-Sbutton {
   padding:10px;
   border:none;
   border-radius:6px;
   background-color:#2c3e50;
   color:#fff;
   cursor:pointer;
   margin-left:10px;
}
.search-bar-Sbutton:hover {
   opacity:0.8;
}
#clearButton {
   cursor:pointer;
   font-size:20px;
   color:#ccc;
   margin-right:5px;
}
#clearButton:hover {
   color:#333;
}









.section-margin{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
}







#Comment
{ 
    border: 6px solid #274e4b;
    border-radius: 6px;
    padding: 10px;
    background-color: #377a77;
  }


        .section-wrapper {
            border: 6px solid #274e4b;
            background-color: #377a77;
            border-radius: 5px;
            padding: 10px;
        }
          #Collaboration,
          #PCSpecs 
           {
            border: 6px solid #274e4b;
            background-color: #377a77;
            border-radius: 5px;
            padding: 10px;
          }
         .header{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 20px;
              cursor: pointer;
              color: white;
          }
          #Collaboration h3,
          #Comment h3,
          #PCSpecs h3 {
              color: #d4e3c9;
          }
          #Collaboration p,
          #PCSpecs p {
              color: #f5f5f5;
          }
        .header h2 {
              margin: 0;
          }
          .toggle-button {
              width: 20px;
              height: 20px;
              border-radius: 6px;
              background-image: url('https://w7.pngwing.com/pngs/175/947/png-transparent-arrow-computer-icons-down-arrow-angle-black-desktop-wallpaper-thumbnail.png'); /* Replace 'arrow-down.png' with the path to your arrow-down image */
              background-size: cover;
              border: none;
              outline: none;
              cursor: pointer;
              transition: transform 0.3s ease; 
          }
          #Collaboration.expanded .toggle-button,
          #Comment.expanded .toggle-button,
          #About.expanded .toggle-button,
          #Projects.expanded .toggle-button,
          #Blogs.expanded .toggle-button,
          #PCSpecs.expanded .toggle-button,
          #Contact.expanded .toggle-button {
              transform: rotate(180deg);
          }
        .collab-content,
        .about-content,
        .specs-list,
        .contact-content  {
              padding: 0 20px;
              display: none;
          }
          #Comment.expanded .collab-content,
          #Collaboration.expanded .collab-content,
          #PCSpecs.expanded .specs-list,
          #Projects.expanded .about-content,
          #About.expanded .about-content,
          #Blogs.expanded .about-content,
          #Contact.expanded .contact-content {
              display: block;
        }




        form select {
              width: 100%;
              margin-bottom: 10px;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 6px;
              background-color: #fff;
        }form{
              border-radius: 6px;
              padding: 20px;
              background-color: #377a77;
        }form .control {

              margin-top: 10px;
        }form .field {
              margin-bottom: 15px; 
        }form .label {
              color: white;
              font-weight: bold;
              margin-bottom: 5px; 
        }form input, form textarea, form select {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            background-color: #fff;
        }form button {
             background-color:#2ecc71;
             color:#fff;
             border:none;
             font-weight: bold;
             font-size: medium;
             border-radius:6px;
             padding:10px 20px;
             cursor:pointer;
          }form button:hover {
             opacity:0.8;
        }










    header {
        background-color:#377a77;
        color:#fff;
        padding-bottom: 10px;
        border:6px solid #274e4b;
        text-align:center;
    }
    dfndl {
        font-size:10px;
        margin-top:60px;
        margin-left:-210px;
    }
    .navbar {
        width:100%;
        height:auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .main-nav {
        display:flex;
        list-style:none;
        margin:0;
        padding:0;
    }
    .main-nav li {
        margin-right:25px;
    }
    .main-nav li:last-child {
        margin-right:20px;
    }
    .main-nav a {
        color:#fff;
        text-decoration:none;
        text-align:center;
        padding:10px 10px;
        font-weight:750;
        font-size:23px;
        border-radius:6px;
        transition: 0.35s;
    }
    .navbar-toggle {
        display:none;
        margin-right: 15px;
    }
    .nav-mobile {
        border-radius:6px;
        height:30%;
        width:0;
        position:fixed;
        z-index:2;
        top:0;
        right:0;
        background-color:#468b88;
        overflow-x:hidden;
        padding-top:80px;
    }
    .nav-mobile a {
        display:block;
        text-decoration:none;
        color:#fff;
        padding:10px 10px;
        font-weight:750;
        border-radius:6px;
        transition: 0.35s;
    }
    .nav-mobile a:hover,.main-nav a:hover {
        opacity:0.8;
        color:#377a77;
        background-color:#fff;
        box-shadow:0 0 80px #e5eedd;
    }
    .closebutton {
        position:absolute;
        top:0;
        right:5px;
        font-size:56px;
        padding:auto;
    }
    .bar1,.bar2,.bar3 {
        width:25px;
        height:2px;
        background-color:black;
        margin:6px 0;
    }
    @media screen and (max-width:768px) {
        .main-nav {
        display:none;
    }
    .navbar-toggle {
        display:block;
    }
    }.logo-position img {
        margin-left:10px;
        width:110px;
        height:110px;
        margin-right:10px;
        border-radius:100%;
    }
    .main {
        font-size:20px;
        font-weight:800;
    }
    .sub {
        font-size:14px;
        font-weight:800;
    }
    .logo-text {
        display:flex;
        align-items:center;
    }















  @media screen and (max-width: 768px) {
      .main-nav {
          display: none;
      }

      .navbar-toggle {
          display: block;
      }
  }

footer {
 background-color:#377a77;
 color:#fff;
 padding:15px 0;
 border:6px solid #274e4b;
 text-align:center;
}.social-links {
 display:flex;
 justify-content:center;
 align-items:center;
 border-radius:6px;
 padding:15px;
 flex-wrap:wrap;
}.social-links-container {
 max-width:100%;
 margin:0 auto;
 overflow:hidden;
}.social-links img {
 margin:5px;
 height:56px;
 width:56px;
 max-width:100%;
 transition: 0.3s;
}.dis img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius: 10px
}.gmail img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius: 100px / 40px;
}.yt img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius: 100px / 60px;
}.git img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius:14px;
}.fb img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius:6px;
}.insta img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius:13px;
}.lk img:hover {
 box-shadow:0 0 80px #e5eedd;
 border-radius:5px;
}
